@model GrozioSalonuISCF.Models.Rezervacija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proc_prad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proc_prad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.busenos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.busenos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paslauga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paslauga.PaslaugaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RezervacijaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
