@model IEnumerable<GrozioSalonuISCF.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Užsakytu paslaugų istorija</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.proc_prad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.busenos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paslauga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.proc_prad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.busenos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paslauga.PaslaugaId)
            </td>
            <td>
            @*       <td>
        <a asp-action="Edit" asp-route-id="@item.RezervacijaId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.RezervacijaId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.RezervacijaId">Delete</a>*@
            <a asp-action="Create" asp-route-id="@item.PaslaugaId">Palikti atsiliepima</a>
            </td>

        </tr>
}
    </tbody>
</table>
