@model IEnumerable<GrozioSalonuISCF.Models.Atsiliepimas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.aprasymas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paslaugos_busena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vardas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaslaugaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.aprasymas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paslaugos_busena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vardas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaslaugaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AtsiliepimasId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AtsiliepimasId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AtsiliepimasId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
