@model IEnumerable<GrozioSalonuISCF.Models.Paslauga>

@{
    ViewData["Title"] = "Atrinkti salonus";
}

<h1>Salonų atrinkimas</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<form asp-action="Atranka" method="get">
    <div class="form-actions no-color">
        <p>
            Atrinkti pagal pavadinimą: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Atrinkti" class="btn btn-default" /> |
            <a asp-action="Atranka">Rodyti viską</a>
        </p>
    </div>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Miestas
            </th>
            <th>
                Salonas
            </th>
            <th>
                Pavadinimas
            </th>
            <th>
                Kaina
            </th>
            <th>
                Trukmė
            </th>
            <th>
                Tipas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Salonas.Miestas.pavadinimas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salonas.pavadinimas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pavadinimas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kaina) &euro;
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trukme) val
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaslaugosTipas.pavadinimas)
                </td>
            </tr>
        }
    </tbody>
</table>
