@model IEnumerable<GrozioSalonuISCF.Models.Salonas>

@{
    ViewData["Title"] = "Salonų sąrašas";
}

<h1>Salonų sąrašas</h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    @{Html.BeginForm("CreateDocument", "AdminS", FormMethod.Get);
        {
        <div>
            <span>Generuoti salonų mėnesio ataskaitą</span>
            <input type="submit" value="Generuoti" style="width:150px;height:27px" />
        </div>
        }
        Html.EndForm();
    }

</div>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                Pavadinimas
            </th>
            @*<th>
                Įmonės kodas
            </th>*@
            <th>
                Adresas
            </th>
            <th>
                Telefonas
            </th>
            <th>
                El. paštas
            </th>
            @*<th>
                Įkūrimo data
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.password)
            </th>*@
            <th>
                Miestas
            </th>
            <th>
                Vartotojas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pavadinimas)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.imones_kodas)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.adresas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel_nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ikurimo_data)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.password)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Miestas.pavadinimas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.SalonasId">Redaguoti</a> |*@
                <a asp-action="Details" asp-route-id="@item.SalonasId">Išsamiau</a> |
                <a asp-action="Delete" asp-route-id="@item.SalonasId">Šalinti</a>
            </td>
        </tr>
}
    </tbody>
</table>
