@model IEnumerable<GrozioSalonuISCF.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Užsakytu paslaugų istorija</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.proc_prad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.busena)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Paslauga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.proc_prad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.busena)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Paslauga.pavadinimas)
            </td>

            @if (item.busena == "Neaktyvi" && item.Atsiliepimas.paslaugos_busena == true)
            {
                <td>
                    <a asp-action="Create" asp-route-id="@item.RezervacijaId">Palikti atsiliepima</a>
                </td>
            }
            @if (item.busena == "Aktyvi")
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RezervacijaId">Atšaukti</a>
                </td>
            }

        </tr>
        }
    </tbody>
</table>