@model IEnumerable<GrozioSalonuISCF.Models.Paslauga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pavadinimas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aprasymas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kaina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trukme)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.priemones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rekomendacijos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Darbuotojas)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Salonas)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.PaslaugosTipas)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pavadinimas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aprasymas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kaina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trukme)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.priemones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rekomendacijos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Darbuotojas.DarbuotojasId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Salonas.pavadinimas)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PaslaugosTipas.PaslaugosTipasId)
            </td>*@
            <td>

                <a asp-action="Details" asp-route-id="@item.PaslaugaId">Plačiau</a>
            </td>
        </tr>
}
    </tbody>
</table>
